@charset "UTF-8";
/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

button {
  width: 194px;
  height: 60px;
  background: #FDBA10;
  border-radius: 30px;
  color: white;
}

header {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  height: 840px;
  width: 100vw;
  background: url(../images/header_bg.png), url(../images/header_img_small.png), linear-gradient(90deg, #C98A40 0% 64%, rgb(255, 255, 255) 64% 100%);
  background-repeat: no-repeat;
  background-position: 100% 0%, 0% 100%;
  background-size: auto;
}
header .header_r_img {
  width: 20vw;
  position: absolute;
}

.logo {
  display: flex;
  flex-shrink: 0;
  margin-left: 18.35vw;
  padding-top: 26px;
  align-items: center;
}
.logo .logo_img {
  display: block;
  margin-right: 16px;
}
.logo .logo_title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #FFFFFF;
}

.wraper {
  display: flex;
  width: 100vw;
}
.wraper .title {
  display: flex;
  width: 64%;
  width: -moz-fit-content;
  width: fit-content;
  flex-shrink: 0;
  z-index: 2;
}
.wraper .title .title-text {
  display: block;
  margin-left: 18.35vw;
  max-width: 47%;
  flex-shrink: 0;
  z-index: 5;
}
.wraper .title .title-text h1 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 800;
  font-size: 74px;
  line-height: 89px;
  display: block;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 194px 0 20px;
  max-width: 70%;
}
.wraper .title .title-text p {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  word-wrap: break-word;
  max-width: 59%;
}
.wraper .title .main_hd_img {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: -104px;
  margin-left: -375px;
  z-index: 4;
}
.wraper .title .main_hd_img::before {
  content: url(../images/header_img_text.svg);
  position: relative;
  display: flex;
  top: 261px;
  left: 213px;
  z-index: 0;
}

#how_we_work {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  width: 100vw;
  height: 840px;
  background: url(../images/HWW/hww_bg.png), linear-gradient(90deg, rgb(255, 255, 255) 0% 36%, #C98A40 36% 100%);
  background-repeat: no-repeat;
}
#how_we_work .hww_text {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: flex-end;
  margin: 50px 18.35vw 50px;
}
#how_we_work .hww_text .hww_text_descrp {
  width: 28%;
  padding: 0 23px;
  flex-shrink: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #C98A40;
}
#how_we_work .hww_text .hww_text_title {
  flex-shrink: 0;
  font-family: "Sen";
  font-style: normal;
  font-weight: 800;
  font-size: 144px;
  line-height: 96%;
  text-transform: uppercase;
  color: #FFFFFF;
}
#how_we_work .hww_img_block {
  display: flex;
  flex-shrink: 0;
  margin: 0 18.35vw;
}
#how_we_work .hww_img_block .hww_pictures {
  margin: 0 10px;
}
#how_we_work .hww_img_block .first {
  margin-left: 0;
}

#about_us {
  display: flex;
  flex-shrink: 0;
  width: 100vw;
  height: 840px;
  background: linear-gradient(90deg, #C98A40 0% 64%, rgb(255, 255, 255) 64% 100%);
}
#about_us .aus_text {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  width: 27%;
  margin: 50px 2.5vw 0 18.35vw;
}
#about_us .aus_text .aus_text_title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 800;
  font-size: 144px;
  line-height: 96%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;
}
#about_us .aus_text .aus_text_descrp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}
#about_us .aus_img {
  margin-top: 50px;
}/*# sourceMappingURL=main.css.map */