@import './_reset.scss';
@import './parts.scss';


// HEADER SECTION
.header_sec {
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    height: 840px;
    width: 100vw;
    background:  url(../images/header_bg.png),
    url(../images/header_img_small.png),
    linear-gradient(90deg, 
     #C98A40 0% 64%, 
    rgb(255, 255, 255)64% 100%);
    background-repeat: no-repeat;
    background-position: 100% 0%, 0% 100%;
    background-size:auto;
}

.logo{
    display: flex;
    flex-shrink: 0;
    margin-left: 19.691vw;
    padding-top: 26px;
    align-items: center;
        .logo_img{
            display: block;
            margin-right: 16px;
        }
        .logo_title{
            font-family: 'Sen';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            display: flex;
            align-items: flex-end;
            text-transform: uppercase;
            color: #FFFFFF;
            }
}

.wraper{
    display: flex;
    width: 100vw;
        
        .title{
            display: flex;
            width: 64%;
            width: fit-content;
            flex-shrink: 0;
            z-index: 2;
            .title-text {
                display: block;
                margin-left: 19.691vw;
                max-width: 47%;
                flex-shrink: 0;
                z-index: 5;
                    h1{
                        font-family: 'Sen';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 3.814vw;
                        line-height: 4.588vw;
                        display: block;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        margin: 194px 0 20px;
                        max-width: 70%;
                        
                    }
                    p{
                        display: block;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 0.928vw;
                        line-height: 1.340vw;
                        color: #FFFFFF;
                        word-wrap: break-word;
                        max-width: 59%;
                    }
                }
                .main_hd_img{
                    width: 34.330vw;
                    height: fit-content;
                    margin-top: -104px;
                    margin-left: -375px;
                    z-index: 4;
                
                    &::before{
                    content: url(../images/header_img_text.svg);
                    position: relative;
                    display: flex;
                    width: 24.021vw;
                    top: 261px;
                    left: 213px;
                    z-index: 0;
                    }
                }
            }
}

// MAIN

// HOW WE WORK SECTION

#how_we_work{
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    width: 100vw;
    height: 840px;
    background: url(../images/HWW/hww_bg.png),
    linear-gradient(90deg, 
     rgb(255, 255, 255) 0% 36%,
     #C98A40 36% 100%);
     background-repeat: no-repeat;

     .hww_text{
        display: flex;
        flex-shrink: 0;
        align-items: flex-end;
        margin: 2.577vw 19.691vw 2.577vw;
        
        .hww_text_descrp{
            width: 28%;
            padding: 0 23px 0 0;
            flex-shrink: 0;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 0.928vw;
            line-height: 1.340vw;
            color: #C98A40;
        }

        .hww_text_title{
            flex-shrink: 0;
            font-family: 'Sen';
            font-style: normal;
            font-weight: 800;
            font-size: 7.423vw;
            line-height: 96%;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 32.474vw;
            text-align: end;
            margin-left: 13.557vw;
        }

     }
    .hww_img_block{
        display: flex;
        flex-shrink: 0;
        margin: 0 19.691vw;
        .hww_pictures{
            margin: 0 0.515vw;
        }
        .first{
            margin-left: 0;
        }
    }
}

// ABOUT US SECTION

#about_us{
    display: flex;
    flex-shrink: 0;
    width: 100vw;
    height: 840px;
    background: linear-gradient(90deg, 
    #C98A40 0% 64%, 
   rgb(255, 255, 255)64% 100%);
    
    .aus_text{
        display: flex;
        flex-flow: column;
        flex-shrink: 0;
        width: min-content;
        margin: 2.577vw 2.577vw 0 18.35vw;
        .aus_text_title{
            font-family: 'Sen';
            font-style: normal;
            font-weight: 800;
            font-size: 7.423vw;
            line-height: 96%;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 2.577vw;
            width: 26.186vw;
        }
        .aus_text_descrp{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 0.928vw;
            line-height: 1.340vw;
            color: #FFFFFF;
        }
    }
    .aus_img{
        margin-top: 2.577vw;
        max-width: 33.093vw;
    }
}

// SERVICES

#services{
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    width: 100vw;
    height: 910px;
    .services_title{
        font-family: 'Sen';
        font-style: normal;
        font-weight: 800;
        font-size: 7.423vw;
        line-height: 96%;
        text-transform: uppercase;
        color: #C98A40;
        text-align: center;
        margin: 58px auto 50px;
    }
    .services_cards{
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        .card{
            background: #FFFFFF;
            border: 1px solid #FFD8AB;
            border-radius: 30px;
            width: 19.845vw;
            margin: 0 11px;
            h3{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 900;
                font-size: 0.825vw;
                line-height: 1.237vw;
                color: #C98A40;
                margin: 30px 30px 10px;
            }
            p{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 0.722vw;
                line-height: 1.031vw;
                color: #333333;
                margin: 0 30px 30px;
            }

        }
    }
}

// TESTYMONIALS

#testymonials{
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    width: 100vw;
    height: 898px;
    background: #C98A40;
    .testymonials_title{
        font-family: 'Sen';
        font-style: normal;
        font-weight: 800;
        font-size: 7.423vw;
        line-height: 96%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 86px auto 80px;
        flex-shrink: 0;
    }
    .feedbacks{
        display: flex;
        flex-shrink: 0;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: space-between;
        max-width: 59.381vw;
        margin: 0 auto;
    }
    .feedbacks_card{
        max-width: 45%;
        background: #FFFFFF;
        border-radius: 30px;
        margin-bottom: 2.577vw;
    }
    h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-size: 0.825vw;
        line-height: 1.237vw;
        color: #C98A40;
        margin: 20px auto 10px 50px;
    }
    p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 0.722vw;
        line-height: 1.031vw;
        color: #333333;
        margin: 0 50px 20px;
    }
    img{
        margin: 0 0 20px 50px;
    }
}

// CONTACT US SECTION

#contact_us{
    width: 100vw;
    height: 554px;
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    .cu_title{
        font-family: 'Sen';
        font-style: normal;
        font-weight: 800;
        font-size: 7.423vw;
        line-height: 96%;
        text-align: center;
        text-transform: uppercase;
        color: #C98A40;
        margin: 50px auto;
    }
    .cu_wraper{
        display: flex;
        flex-flow: row;
        align-items: center;
        flex-shrink: 0;
        margin: 0 auto;
        .cu_forms{
            display: flex;
            flex-flow: column;
            flex-shrink: 0;
            align-items: center;
            input{
            width: 374px;
            height: 56px;
            background: #FFD39F;
            border-radius: 61px;
            margin-bottom: 14px;
            padding-left: 20px;
            }
            .contactme{
            width: 168px;
            height: 56px;    
            border: 3px solid #C98A40;
            background: #FFFFFF;
            border-radius: 61px;
            text-align: center;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            line-height: 24px;
            color: #C98A40;
            padding: 0;
            }
            .cu_forms_btn{
                width: 168px;
                height: 56px;
            }
            .cu_forms_btn:hover .contactme{
            cursor: pointer;
            background: #C98A40;
            color: #FFFFFF;
            }            
        }
        .cu_data{
            display: flex;
            flex-flow: column;
            flex-shrink: 0;
            margin-left: 100px;
            .cu_data_item{
                display: flex;
                height: 24px;
                margin-bottom: 30px;
                p{
                    margin-left: 20px; 
                }
            }
        }
    }
}